body {
    background-color: whitesmoke;
    font-family: "Arial", Georgia, Serif;
    font-size: 80%;
}

h5 {
    color: white;
    text-align: left;
    background-color: #ABB2D8;
    padding: 5px;
    padding-left: 15px;
    font-size: 16pt;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 0;
}

#fixedtop {
 
   /* overflow: hidden;*/
    background-color: #eee;
    position: fixed;  /*Set the navbar to fixed position */
    top: 0!important;/* Position the navbar at the top of the page */
    left:0!important;
    width: 100%; /* Full width */
    /*height: 100%;*/

}

#timeline {
    width: 100%;
    background-color: #FFFFFF;
    margin: 0px;
    display: block;
    float: left;
}


/*#page {
    background-color: gray;
    background-position: center;
    text-align: center;
    height: 700px;
    width: 100%;
    margin: auto;
    position: relative;
    border-radius: 10px;
    -moz-border-radius: 10px;
}*/

#page h3 {
    margin-top: 10px;
    margin-left: 50%;
    position: absolute;
}


.narrowstuff {
    width: 80%;
    float: right;
}


div.tab {
    background-color: lightgrey;
    text-align: center;
    background-position: center;
    height: 100%;
    width: 20%;
    left: 0;
    top: 133 !important;
    position: fixed;

}


/* Style the buttons inside the tab */

div.tab button {
    background-color: #ccc;
    float: none;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    width: 49%;
    /*Slightly less than 1/4th of the width*/
    padding: 5px;
    margin: 0;
    text-align: center;
}


/* Change background color of buttons on hover */

div.tab button:hover {
    background-color: #ddd;
}


/* Create an active/current tablink class */

div.tab button.active {
    background-color: inherit;
}


/* Style the tab content */

.tabcontent {
    position: relative;
    width: 200px;
    height: 100px;
    top: 60px;*/
    left: 30%;
    margin: 10px;
    margin-left: 50px;
    padding-bottom: 20px;
}

.selectoption {
    position: absolute
    top: 60px;
    left: 40%;
    margin: 10px;
    padding-bottom: 20px;
}

/*.sortoption {
    position: absolute
    top: 60px;
    left: 40%;
    margin: 10px;
    padding-bottom: 20px;
}*/

#menubutton {
    background-color: whitesmoke;
    position: absolute;
    width: 100px;
    height: 50px;
    top: 550px;
    left: 50%;
    margin-left: -50px;
}

#subpage {
   
    text-align: center;
    background-position: center;
    height: 100%;
    width: 80%;
    right: 0;
    top: 250;
    z-index: -1;
    position: absolute;
}

#time {

    text-align: center;
    height: 15%;
    width: 100%;
}


#gridspace {
    margin-top: 30px;
}

#gridspace img {
    width: 100%;
    display: block;
}

.gridTile {
    width: 15%;
    height: 280px;
    border: 1px solid #555;
    border-radius: 1px;
    margin: 10px;
    display: inline-block;
    float: left;
}

#gridspace p{
    font-size: 90%;
    margin-bottom: 3px;
    margin-top: 3px;
    margin-left: 10px;
    text-align: left;
}

.sku {
    color: #AAA;
}

.productName {
    font-weight: 800;
    color: #555;
}

.metrics {
    display: inline-flex;
    color: black;
    width: 30%;
    float: left;
    border-right-color: red;
}

.metricPoint {
    display: inline-block;
    border-right: red;
    text-align: center;
}

.catHead {
    display: block;
    text-align: left;
    text-transform: uppercase;
    clear: left;
}

/* Styles for accordion drop downs */

@import url('https://fonts.googleapis.com/css?family=Pacifico|Open+Sans:300,400,600');
* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
a {
  text-decoration: none;
  color: inherit;
}
p {
  font-size: 1.1em;
  margin: 1em 0;
}
.description {
  margin: 1em auto 2.25em;
}

h1 {
  font-weight: 400;
  font-size: 2.5em;
}
ul {
  list-style: none;
  padding: 0;
}
ul .inner {
  padding-left: 1em;
  overflow: hidden;
  display: none;
}
ul .inner.show {
  /*display: block;*/
}
ul li {
  margin: .5em 0;
}
ul li a.toggle {
  width: 100%;
  display: block;
  background: #333;
  color: #fefefe;
  padding: .75em;
  border-radius: 0.15em;
  transition: background .3s ease;
}
ul li a.toggle:hover {
  background: rgba(0, 0, 0, 0.9);
}

.second {
    background: #777 !important;
}

.second:hover {
    background: #555 !important;
}

.third {
    background: #BBB !important;
}

.third:hover {
    background: #999 !important;
}

.draggable {
    list-style-position:inside;
    border: 1px solid #DDD;
    border-radius: 0.15em;
    background: #DDD;
}

.draggableSort {
    list-style-position:inside;
    border: 1px solid black;
    border-radius: 3px;
}



/* Styles for breadcrumb things */

.showme {
   margin-left: 3px;
}

div.breadcrumbs {
    height: 70px;
    background: white;
    border: 1px solid #DDD;
    border-radius: 3px;
    padding: 5px;
    padding-top: -10px;
    margin: 3px;
    width: 75.4%;
    margin-left: 12px;
}

div.breadcrumbs > label {
    margin-top: 1px;
}

#sortable {
    list-style-type: none; margin: 0; padding: 0; padding-bottom: 10px; padding-top: 10px; text-align: left; 
    margin-left: 5px;
}

#sortable li {
    margin: 5px; padding: 5px; width: 150px;
}

#sortable .breadcrumbs {
    display:inline;
    border: 1px solid black;
    border-radius: 3px;
}

.save {
    background-color: #ABB2D8;
    border-radius: 3px;
    padding: 10px;
    color: white;
    margin-left: -5px;
}

.sorterDrop {
    margin-bottom: -10px;
}


/*Styles for timeline things*/
#feedback { font-size: 1.4em; }


/* timeframe select menu*/
.timeZoomer {
    width: 10%;
    float: left;
}

fieldset {
    border: none;
    margin-bottom: 5px;
    display: inline;
}

label {
      display: block;
      margin: 20px 0 5px 0;
      text-transform: uppercase;
}

ul > label {
    margin-top: -5px;
    margin-left: 5px;
    margin-bottom: 10px;
}

.chooser {
    background: white;
    border: 1px solid #DDD;
    border-radius: 3px;
    padding: 5px;
}

.chooser > label {
    margin-top: 1px;
}

.ui-selectmenu-button.ui-button {
    width: 10em !important;
}


  #summer17, #July31, #summer { border-bottom: 4px solid #2e2e2e; }
  .selectable .ui-selecting { background: #c9ed5e; color: black; }
  .selectable .ui-selected { background: #c9ed5e; color: black; }
  .selectable { list-style-type: none; margin-top: 0px; margin-left: 20%; padding: 0; width: auto;}
  .zoomTime { list-style-type: none; margin: 0px; padding: 0; width: 10%; float: left;}
  .zoomtime li {
    margin-top: 5px;
    margin-bottom: 0px;
  }
  .selectable li { margin: 6px; padding: 1px; float: left; width: 75px; height: 75px; font-size: 2em; text-align: center; }
  #seasons li { margin: 6px; padding: 1px; float: left; width: 200px; font-size: 2em; text-align: center;}
  #years { color: #AAAAAA; font-size: 1em;}
  #years img { margin: 5px 25px 25px 20px;}
 /* #summer16 { color: #AAAAAA; font-size: 1em;}
  #summer16 img { margin: 7px 25px 25px 25px;}
  #spring17 { color: #AAAAAA; font-size: 1em;}
  #spring17 img { margin: 7px 25px 25px 25px;}
  #spring18 { color: #AAAAAA; font-size: 1em;}
  #spring18 img { margin: 7px 25px 25px 25px;}*/
  

