body {
    background-color: whitesmoke;
    font-family: "Arial", Georgia, Serif;
    font-size: 80%;
}

h5 {
    color: navy;
    margin-left: 10px;
}

#page {
    background-color: gray;
    background-position: center;
    text-align: center;
    height: 700px;
    width: 100%;
    margin: auto;
    position: relative;
    border-radius: 10px;
    -moz-border-radius: 10px;
}

#page h3 {
    margin-top: 10px;
    margin-left: 50%;
    position: absolute;
}

#save {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0px;
    right: 3px;
}



div.tab {
    background-color: lightgrey;
    text-align: center;
    background-position: center;
    height: 640px;
    width: 20%;
    left: 0;
    top: 145;
    position: relative;
    overflow: hidden;
}


/* Style the buttons inside the tab */

div.tab button {
    background-color: #ccc;
    float: none;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    width: 49%;
    /*Slightly less than 1/4th of the width*/
    padding: 5px;
    margin: 0;
    text-align: center;
}


/* Change background color of buttons on hover */

div.tab button:hover {
    background-color: #ddd;
}


/* Create an active/current tablink class */

div.tab button.active {
    background-color: inherit;
}


/* Style the tab content */

.tabcontent {
    position: relative;
    width: 200px;
    height: 100px;
    top: 60px;
    left: 30%;
    margin: 10px;
    margin-left: -50px;
    padding-bottom: 20px;
}

.selectoption {
    position: absolute
    top: 60px;
    left: 40%;
    margin: 10px;
    padding-bottom: 20px;
}

.sortoption {
    position: absolute
    top: 60px;
    left: 40%;
    margin: 10px;
    padding-bottom: 20px;
}

#menubutton {
    background-color: whitesmoke;
    position: absolute;
    width: 100px;
    height: 50px;
    top: 550px;
    left: 50%;
    margin-left: -50px;
}

#subpage {
    background-color: whitesmoke;
    text-align: center;
    background-position: center;
    height: 640px;
    width: 80%;
    right: 0;
    bottom: 0;
    top: 145;
    position: absolute;
}

#time {
    background-color: #e3e4e5;
    text-align: center;
    height: 15%;
    width: 100%;
    top: 0;
    position: absolute;
}


#gridspace {
    margin-top: 100px;
}

#gridspace img {
    width: 68px;
    height: 90px;
    float: left;
}

.gridTile {
    width: 25%;
    height: 92px;
    border: 1px solid black;
    border-radius: 3px;
    margin: 10px;
    display: inline-block;
    float: left;
}

#gridspace p{
    font-size: 90%;
    margin-bottom: 3px;
    margin-top: 3px;
    text-align: left;
}

.productName {
    font-weight: 800;
}

.catHead {
    display: block;
    clear: left;
}

/* Styles for accordion drop downs */

@import url('https://fonts.googleapis.com/css?family=Pacifico|Open+Sans:300,400,600');
* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
a {
  text-decoration: none;
  color: inherit;
}
p {
  font-size: 1.1em;
  margin: 1em 0;
}
.description {
  margin: 1em auto 2.25em;
}

h1 {
  font-weight: 400;
  font-size: 2.5em;
}
ul {
  list-style: none;
  padding: 0;
}
ul .inner {
  padding-left: 1em;
  overflow: hidden;
  display: none;
}
ul .inner.show {
  /*display: block;*/
}
ul li {
  margin: .5em 0;
}
ul li a.toggle {
  width: 100%;
  display: block;
  background: rgba(0, 0, 0, 0.78);
  color: #fefefe;
  padding: .75em;
  border-radius: 0.15em;
  transition: background .3s ease;
}
ul li a.toggle:hover {
  background: rgba(0, 0, 0, 0.9);
}

.draggable {
    list-style-position:inside;
    border: 1px solid black;
    border-radius: 3px;
}

.draggableSort {
    list-style-position:inside;
    border: 1px solid black;
    border-radius: 3px;
}

/* Styles for breadcrumb things */

#sortable {
    list-style-type: none; margin: 0; padding: 0; margin-bottom: 10px; margin-top: 10px; text-align: left; 
}

#sortable li {
    margin: 5px; padding: 5px; width: 150px;
}

#sortable .breadcrumbs {
    display:inline;
    border: 1px solid black;
    border-radius: 3px;
}

/*Styles for timeline things*/
#feedback { font-size: 1.4em; }
#timeline {
    position: absolute;
    top: 60px;
    height: 85px;
    width: 100%;
    background-color: #FFFFFF;
    margin: 0px;
}
  #summer17, #July17, #summer { border-bottom: 4px solid #2e2e2e; }
  .selectable .ui-selecting { background: #3899DD; color: white; }
  .selectable .ui-selected { background: #3899DD; color: white; }
  .selectable { list-style-type: none; margin-top: 0px; margin-left: 20%; padding: 0; width: auto;}
  .zoomTime { list-style-type: none; margin: 0px; padding: 0; width: 10%; float: left;}
  .zoomtime li {
    margin-top: 5px;
    margin-bottom: 0px;
  }
  .selectable li { margin: 6px; padding: 1px; float: left; width: 75px; height: 75px; font-size: 2em; text-align: center; }
  #seasons li { margin: 6px; padding: 1px; float: left; width: 200px; font-size: 2em; text-align: center;}
  #years li { }
  #years img { margin: 25px; }
  #summer16 { color: #AAAAAA; font-size: 1em;}
  #summer16 img { margin: 7px 25px 25px 25px;}
  #spring17 { color: #AAAAAA; font-size: 1em;}
  #spring17 img { margin: 7px 25px 25px 25px;}
  #spring18 { color: #AAAAAA; font-size: 1em;}
  #spring18 img { margin: 7px 25px 25px 25px;}
  

