body {
    background-color: whitesmoke;
    font-family: "Arial", Georgia, Serif;
}

h5 {
    color: navy;
    margin-left: 10px;
}

#page {
    background-color: gray;
    background-position: center;
    text-align: center;
    height: 700px;
    width: 80%;
    margin: auto;
    position: relative;
    border-radius: 10px;
    -moz-border-radius: 10px;
}

#page h3 {
    margin-top: 10px;
    margin-left: 50%;
    position: absolute;
}

#page img {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0px;
    right: 3px;
}

div.tab {
    background-color: lightgrey;
    text-align: center;
    background-position: center;
    height: 640px;
    width: 25%;
    left: 0;
    top: 60;
    position: relative;
    overflow: hidden;
}


/* Style the buttons inside the tab */

div.tab button {
    background-color: #ccc;
    float: none;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    width: 49%;
    /*Slightly less than 1/4th of the width*/
    padding: 5px;
    margin: 0;
    text-align: center;
}


/* Change background color of buttons on hover */

div.tab button:hover {
    background-color: #ddd;
}


/* Create an active/current tablink class */

div.tab button.active {
    background-color: inherit;
}


/* Style the tab content */

.tabcontent {
    font-size: 17px;
    position: relative;
    width: 150px;
    height: 100px;
    top: 60px;
    left: 40%;
    margin: 10px;
    margin-left: -50px;
    padding-bottom: 20px;
}

.selectoption {
    position: absolute
    top: 60px;
    left: 40%;
    margin: 10px;
    padding-bottom: 20px;
}

.sortoption {
    position: absolute
    top: 60px;
    left: 40%;
    margin: 10px;
    padding-bottom: 20px;
}

#menubutton {
    background-color: whitesmoke;
    font-size: 17px;
    position: absolute;
    width: 100px;
    height: 50px;
    top: 550px;
    left: 50%;
    margin-left: -50px;
}

#subpage {
    background-color: whitesmoke;
    text-align: center;
    background-position: center;
    height: 640px;
    width: 75%;
    right: 0;
    bottom: 0;
    position: absolute;
}

#time {
    background-color: #e3e4e5;
    text-align: center;
    height: 25%;
    width: 100%;
    top: 0;
    position: absolute;
}
